<div class="fluid-container">
    <div class="row p-5">
        <div class="fs-1 text-primary text-center">
            FIRST Tech Challenge
        </div>
        <div class="col-12">
            <div class="fs-2 text-primary">
                What is FIRST Tech Challenge?
            </div>
            <br />
            <div class="fs-4">The <strong>FIRST Tech Challenge</strong> is a worldwide competition where all people who are passionate
                for robotics come together to compete head-to-head in a robotics challenge that will test a variety of
                skills including driving, programming, and precision. We are currently raising funds to in hopes of
                competiting in this challenge this year. If you would like to support our team, <a routerLink="/support-us">click here</a>!
                <br /><br />
                To learn more about the <strong>FIRST Tech Challenge</strong>
                program, <a href="https://www.firstinspires.org/robotics/ftc">click here</a>.</div>
        </div>
    </div>
</div>