<div class="card mb-3 position-relative h-100">
    <img [src]="('news/' + article['id'] + '/cover.jpg') | getStorageDownloadURL | async" height="300px" style="object-fit: cover;" alt="...">
    <div class="card-body h-100">
        <div class="d-flex flex-column justify-content-between h-100">
            <div>
                <h5 class="card-title">{{article["title"]}}</h5>
                <p class="card-text">{{article["shortDesc"]}}</p>
            </div>
            <div>
                <p class="card-text"><small class="text-muted">{{article["date"].toDate().toDateString()}}</small>
                </p>
                <a routerLink="/events/article/{{article['id']}}" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary stretched-link">Read More</a>
            </div>
        </div>
    </div>
</div>