<div class="fluid-container">
    <div class="row p-5">
        <div class="col-12 fs-1 text-primary text-center">
            VEX V5 Competition<br /><br />
        </div>

        <div class="col-12">
            <div class="fs-2 text-primary">
                What is the VEX V5 Competition?
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-7 fs-4">The <strong>VEX V5 competition</strong> is a worldwide competition where all people who are passionate
                for robotics come together to compete head-to-head in a robotics challenge that will test a variety of
                skills including driving, programming, and precision. We are currently raising funds to in hopes of
                competiting in this challenge this year. If you would like to support our team, <a routerLink="/support-us">click here</a>!
                <br /><br />
                To learn more about the <strong>VEX V5 Competition</strong>
                program, <a target="_blank" href="https://www.vexrobotics.com/v5/competition/vrc-current-game">click here</a>.<br /><br /></div>
            <div class="col-lg-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/dvDqEI7qO34" title="VEX Robotics Competition: Over Under | 2023 - 2024 Game" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>    
            </div>   
        </div>
</div>