.banner {
    background-image: url('images/banner.jpg');
    background-size: cover;
    background-position: center;
}

.banner-text {
    color: rgb(255, 255, 255);
}

.outline-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}