<div class="fluid-container">
    <div class="row">
        <div class="col-md-8">
            <div class="text-center">
                <p>We are a robotics team based in Richmond, BC. Our team was founded in 2022 at R.C. Palmer Secondary
                    School with the goal of making STEM education accessible to all students. We strive to create a
                    welcoming environment for all students to learn about engineering and robotics. Regardless of your
                    background, age, or experience, you are welcome to the club.
                    We are passionate about robotics - we love to learn, build and create. We hope to inspire others
                    with the same passion.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div id="about-map"></div>
        </div>
    </div>
</div>