<div class="fluid-container">
    <div class="row p-5">
        <div class="fs-1 text-center text-primary">Meet the Team!</div>
    </div>
    <div class="row ps-5 pe-5 pt-3">
        <img src="/assets/images/team.jpg" alt="The team">
    </div>
    <div class="row fs-3 p-5">
        <div>
            Our team is made up of individuals passionate toward robotics, web development, and anything techy overall. We hope to inspire others to join us, and have fun with robot fanatics alike!
          
            <a routerLink="/contact" class="btn btn-lg">Join us now!</a>
        </div>
    </div>
</div>
