<div class="fluid-container">
    <div class="row p-5">
        <div class="fs-1 text-center text-primary">Our Team</div>
    </div>
    <div class="row ps-5 pe-5 pt-3">
        <img src="/assets/images/team.jpg" alt="The team">
    </div>
    <div class="row fs-3 p-5">
        <div>
            Our team is made up of individuals passionate toward robotics. We hope to inspire others to join us.
          
            <a routerLink="/contact-us" class="btn btn-primary">Join us now!</a>
        </div>
    </div>
</div>
