<nav class="navbar navbar-expand-md bg-light sticky-top w-100">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="/assets/images/icon.png" height="30px" width="30px" alt="">
      Bucket Robotics
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" #navbarButton>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="teamDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Team Info
          </a>
          <ul class="dropdown-menu" aria-labelledby="teamDropdown">
            <li>
              <a class="dropdown-item" routerLink="/team/members" routerLinkActive="active"
                ariaCurrentWhenActive="page">Members</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/team/gallery" routerLinkActive="active"
                ariaCurrentWhenActive="page">Gallery</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ariaCurrentWhenActive="page" id="supportDropdown" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Support Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="supportDropdown">
            <li>
              <a class="dropdown-item" routerLink="/support-us" routerLinkActive="active"
                ariaCurrentWhenActive="page">Support Us</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/current-sponsors" routerLinkActive="active"
                ariaCurrentWhenActive="page">Current Sponsors</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ftc" routerLinkActive="active" ariaCurrentWhenActive="page">FIRST Tech
            Challenge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/events" routerLinkActive="active"
          ariaCurrentWhenActive="page">Events History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact
            Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="container-fluid clearfix bg-primary p-5 text-white">
    <div class="float-start align-middle">
      &#169; 2022-2023 Bucket Robotics
    </div>
    <div class="float-end">
      <a href="https://www.instagram.com/bucketrobotics/" class="link-secondary m-1 fs-3"><i class="bi-instagram"></i></a>
      <a href="https://github.com/bucketrobotics" class="link-secondary m-1 fs-3"><i class="bi-github"></i></a>
      <a href="https://www.youtube.com/@bucketrobotics" class="link-secondary m-1 fs-3"><i class="bi-youtube"></i></a>
      <a href="mailto:hello@bucketrobotics.ca" class="link-secondary m-1 fs-3"><i class="bi-envelope"></i></a>
    </div>
  </div>
</footer>