<nav class="navbar navbar-expand-sm bg-light sticky-top w-100">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="/assets/images/icon.png" height="30px" width="30px" alt="">
      Bucket Robotics
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Team Info
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/team/members" routerLinkActive="active"
              ariaCurrentWhenActive="page">Members</a>
            <a class="dropdown-item" routerLink="/team/gallery" routerLinkActive="active"
              ariaCurrentWhenActive="page">Gallery</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/support-us" routerLinkActive="active"
            ariaCurrentWhenActive="page" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Support Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/current-sponsors" routerLinkActive="active"
              ariaCurrentWhenActive="page">Current Sponsors</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ftc" routerLinkActive="active" ariaCurrentWhenActive="page">FIRST Tech
            Challenge</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" ariaCurrentWhenActive="page" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events History
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/events/outreach" routerLinkActive="active"
              ariaCurrentWhenActive="page">Outreach</a>
            <a class="dropdown-item" routerLink="/events/general" routerLinkActive="active"
              ariaCurrentWhenActive="page">General</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact
            Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>