<div class="fluid-container">
    <div class="row p-5 bg-primary text-secondary">
        <div class="col-6 fs-3">
            Donations &amp; Sponsorships
            <br />
            <br />
            <span class="ms-3">Sponsorship Levels</span>
            <br />
            <br />
            Mentorship
        </div>
        <div class="col-6 bot-image"></div>
    </div>
    <div class="row p-5">
        <div class="col-6">
            <div class="fs-2 text-primary">Donations &amp; Sponsorships</div>
            <div class="fs-4 mt-3">
                Donations and sponsorships help us tremendously; every dollar lets us add another piece to
                our robot. In supporting us, you will help enable students to pursue their passions in STEM,
                engineering, and robotics.
                <br />
                Helps us continue to run as a team and follow our dreams!
                <br>
                <a class="btn btn-primary" target="_blank" [href]="donateUrl | getStorageDownloadURL | async">Donate Now!</a>
            </div>
        </div>
        <div class="col-6">
            <div class="fs-3 text-primary">Sponsorship Levels</div>
            <div class="fs-4 mt-3">
                We gratefully thank you for your generous contribution to advance robotics education. Each level
                includes all the levels below it. All rewards are effective till the end of the year. Individual donors
                (not representing an organization) will be placed in a special credits section on the sponsorship page.
                <br />
                <br />
                Level 1 - <strong>$100~$199</strong>
                <ul>
                    <li>Name and logo on website</li>
                </ul>
                Level 2 - <strong>$200~$299</strong>
                <ul>
                    <li>Name and logo on pamphlets</li>
                </ul>
                Level 3 - <strong>$300~$399</strong>
                <ul>
                    <li>Name and logo on banner</li>
                </ul>
                Level 4 - <strong>$400~$499</strong>
                <ul>
                    <li>Name and logo on t-shirts</li>
                </ul>
                Level 5 - <strong>$500+</strong>
                <ul>
                    <li>We will send you entertaining videos of the robot</li>
                    <li>We will create a highly entertaining rap song for your brand</li>
                </ul>
            </div>
        </div>
    </div>
</div>