<div *ngIf="exists; else notFound">
    <a routerLink="/events" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-primary m-5">Back</a>
    <div class="fluid-container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 p-5">
                <img [src]="('news/' + article['id'] + '/cover.jpg') | getStorageDownloadURL | async" class="img-fluid w-75 d-block mx-auto" alt="">
                <div class="text-center fs-1 mb-5">{{article["title"]}}</div>
                <div class="fs-6 text-center">{{article["date"].toDate().toDateString()}}</div>
                <div class="fs-4 m-5">{{article["description"]}}</div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<ng-template #notFound>
    <div class="fluid-container">
        <div class="row">
            <div class="col-12 p-5">
                <div class="text-center">
                    <div class="fs-2">404 Article Not Found :(</div>
                    <br>
                    <a class="btn btn-primary fs-5" href="/events">Return to Events List</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>