.banner {
    background-image: url('/assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.banner-text {
    color: white;
}

.outline-text {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}