/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
    primary: $blue-700,
    secondary: $blue-200
);

@import "node_modules/bootstrap/scss/bootstrap.scss";