<div class="fluid-container">
    <div class="row p-5">
        <div class="fs-2 text-primary text-center">Sponsors</div>
        <div class="fs-4">
            We cannot express how grateful we are to our sponsors. They are the reason Bucket Robotics is
            able to continue to run and operate. We thank each and every sponsor!
        </div>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 5 Sponsors</div>
        <ng-container *ngFor="let sponsor of sponsors | async">
            <app-premium-sponsor *ngIf="sponsor['level'] == 5" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
        </ng-container>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 4 Sponsors</div>
        <ng-container *ngFor="let sponsor of sponsors | async">
            <app-premium-sponsor *ngIf="sponsor['level'] == 4" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
        </ng-container>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 3 Sponsors</div>
        <ng-container *ngFor="let sponsor of sponsors | async">
            <app-premium-sponsor *ngIf="sponsor['level'] == 3" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
        </ng-container>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 2 Sponsors</div>
        <ng-container *ngFor="let sponsor of sponsors | async">
            <app-premium-sponsor *ngIf="sponsor['level'] == 2" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
        </ng-container>
    </div>
    <div class="row p-5">
        <div class="fs-2">Level 1 Sponsors</div>
        <ul class="ms-5">
            <ng-container *ngFor="let sponsor of sponsors | async">
                <li class="fs-4" *ngIf="sponsor['level'] == 1">{{ sponsor['name'] }}</li>
            </ng-container>
        </ul>
    </div>
</div>