<div class="fluid-container">
    <div class="row p-5">
        <div class="fs-2 text-primary text-center">Sponsors</div>
        <div class="fs-4">
            We cannot express how grateful we are to our sponsors. They are the reason Bucket Robotics is
            able continue to run and operate. We thank each and every sponsor!
        </div>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 5 Sponsors</div>
        <app-premium-sponsor *ngFor="let sponsor of sponsors5 | async" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 4 Sponsors</div>
        <app-premium-sponsor *ngFor="let sponsor of sponsors4 | async" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 3 Sponsors</div>
        <app-premium-sponsor *ngFor="let sponsor of sponsors3 | async" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
    </div>
    <div class="row p-5 d-flex flex-row flex-wrap justify-content-center">
        <div class="fs-2">Level 2 Sponsors</div>
        <app-premium-sponsor *ngFor="let sponsor of sponsors2 | async" [name]="sponsor['name']" [path]="sponsor['path']" [url]="sponsor['url']" class="w-auto"></app-premium-sponsor>
    </div>
    <div class="row p-5">
        <div class="fs-2">Level 1 Sponsors</div>
        <ul class="ms-5">
            <li class="fs-4" *ngFor="let sponsor of sponsors1 | async">{{ sponsor['name'] }}</li>
        </ul>
    </div>
</div>