<div class="fluid-container">
    <div class="row p-5">
        <div class="fs-2 text-primary text-center">Sponsors</div>
        <div class="fs-4">
            We cannot express how grateful we are to our sponsors. They are the reason Bucket Robotics is
            able continue to run and operate. We thank each and every sponsor!
        </div>
    </div>
    <div class="row p-5">
        <div class="fs-2">Level 1 Sponsors</div>
        <ul class="ms-5">
            <li class="fs-4" *ngFor="let sponsor of sponsors1 | async">{{ sponsor['name'] }}</li>
        </ul>
    </div>
    <div class="row p-5">
        <div class="fs-2">Level 2 Sponsors</div>
        <div class="p-5 sponsor text-center float-left" *ngFor="let sponsor of sponsors2 | async">
            <img [src]="sponsor['path'] | getStorageDownloadURL | async" class="img-fluid w-100" alt="">
            <div class="fs-4">{{ sponsor['name'] }}</div>
        </div>
    </div>
    <div class="row p-5">
        <div class="fs-2">Level 3 Sponsors</div>
        <div class="p-5 sponsor text-center float-left" *ngFor="let sponsor of sponsors3 | async">
            <img [src]="sponsor['path'] | getStorageDownloadURL | async" class="img-fluid w-100" alt="">
            <div class="fs-4">{{ sponsor['name'] }}</div>
        </div>
    </div>
    <div class="row p-5">
        <div class="fs-2">Level 4 Sponsors</div>
        <div class="p-5 sponsor text-center float-left" *ngFor="let sponsor of sponsors4 | async">
            <img [src]="sponsor['path'] | getStorageDownloadURL | async" class="img-fluid w-100" alt="">
            <div class="fs-4">{{ sponsor['name'] }}</div>
        </div>
    </div>
    <div class="row p-5">
        <div class="fs-2">Level 5 Sponsors</div>
        <div class="p-5 sponsor text-center float-left" *ngFor="let sponsor of sponsors5 | async">
            <img [src]="sponsor['path'] | getStorageDownloadURL | async" class="img-fluid w-100" alt="">
            <div class="fs-4">{{ sponsor['name'] }}</div>
        </div>
    </div>
</div>